@model Department
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<br />
<br />
<form asp-action="Delete">
    <div class="mb-3">
        <label asp-for="Code" class="form-label">Code</label>
        <input type="text" class="form-control" asp-for="Code" readonly>

    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" readonly>

    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description" readonly>
    </div>
    <input type="submit" asp-action="Delete" value="Delete" class="btn btn-outline-danger"/>
</form>

