@model CreateEmployeeDto
@{
    ViewData["Title"] = "Edit";
    var departments = new SelectList(ViewData["departments"] as IEnumerable<Department>, "Id", "Name");
}

<h1>Edit</h1>
<br />
<br />
<form asp-action="Edit" enctype="multipart/form-data">


    <input  asp-for="ImageName" hidden >


    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" aria-describedby="emailHelp">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label">Age</label>
        <input type="text" class="form-control" asp-for="Age" aria-describedby="emailHelp">
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input type="text" class="form-control" asp-for="Phone">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Dept_id" class="col-form-label"></label>
        <select asp-for="Dept_id" asp-items="departments">
            <option value="@null">Department</option>

        </select>

    </div>

    <div class="mb-3">
        <label asp-for="Image" class="form-label">Phone</label>
        <input type="file" class="form-control" asp-for="Image">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
@section validate {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}